body{
    margin: 0;
    background-color: #6E85B7;
    font-family: 'Herculanum';


}
.title{
    /* margin: auto; */

    /* margin-top: 100px; */
    display: flex;

    padding: 3%;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Herculanum';
    background-color: #C4D7E0;
    justify-content: center;
    align-items: center;
    
}

/* .title h1{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
} */

.first{
    display: flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    align-items: center;
    height: 27rem;
    /* border: red 1px solid; */
}

.header{
    width: 100%;
    height: 45%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    background-color: rgb(248, 249, 215);

    /* border: green solid 3px; */

}
.header-children{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* border: red solid 1px; */
    /* text-align: center; */
    justify-content: center;

    
    
}
.header-children > h3{
    text-align: center;
    align-items: center;
    border: black 1px;
    height: 100%;

    
}

/* .header > div > img{
    height: 60px;
    width: 100px;
    border: green;
} */
.header > div{
    width: 100%;
    height: 25%;

    /* border: blue solid 1px; */
}

img{
    height: 60px;
    width: 100px;
}
.content{
    padding: 20px;
    background-color: #6E85B7;
    display: flex;
    flex-direction: row;
}

.items{
    display: flex;
    flex-direction: column;
    margin:auto;
    /* justify-content: center; */
    align-items: center;
    /* height: 27rem; */
    /* border: red 1px solid; */
}

.items > h1{
    font-family: Herculanum;
    align-self: center;

}

.parent{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    width: 100%;

}

.child{
    width: 100%;
    margin: 10px;
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    /* border: black 2px solid; */
}

.child .info{
   justify-content: center;

   flex: 1 0 45%; /* explanation below */
   /* margin: auto; */
   text-align: center;
    align-items: center;
   justify-items: center;
   border: black 5px solid;
   background-color: #f9ffb8;


}

.child > img{
    /* size: 100%; */
    width: 450px;
    height: 450px;
}

h3{
    margin-top: 30px;
}

